<p class="text-center">Welcome to our index page</p>

<ClickTracker @multiplier="1.1">Click Me</ClickTracker>

<BsCarousel as |carousel|>
    <carousel.slide>
        Carousel Slide 1
    </carousel.slide>
    <carousel.slide>
        Carousel Slide 2
    </carousel.slide>
    <carousel.slide>
        Carousel Slide 3
    </carousel.slide>
</BsCarousel>
